# Bonus: Temperature Analysis I

In [6]:
import pandas as pd
from datetime import datetime as dt

In [7]:
# "tobs" is "temperature observations"
df = pd.read_csv('resources\hawaii_measurements.csv')
df.head()

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
4  USC00519397  2010-01-06   NaN    73

In [8]:
# Convert the date column format from string to datetime
df['date'] = pd.to_datetime(df['date'], infer_datetime_format=True)
df.head()

       station       date  prcp  tobs
0  USC00519397 2010-01-01  0.08    65
1  USC00519397 2010-01-02  0.00    63
2  USC00519397 2010-01-03  0.00    74
3  USC00519397 2010-01-04  0.00    76
4  USC00519397 2010-01-06   NaN    73

In [9]:
# Set the date column as the DataFrame index
df = df.set_index('date')
df.head()

                station  prcp  tobs
date
2010-01-01  USC00519397  0.08    65
2010-01-02  USC00519397  0.00    63
2010-01-03  USC00519397  0.00    74
2010-01-04  USC00519397  0.00    76
2010-01-06  USC00519397   NaN    73

### Compare June and December data across all years

In [10]:
from scipy import stats
from scipy.stats import ttest_rel

In [11]:
# Filter data for desired months
df['month'] = pd.DatetimeIndex(df.index).month
df_june = df.loc[df['month']==6,:]
df_dec = df.loc[df['month']==12,:]

In [12]:
# Identify the average temperature for June
avg_temp_june = df_june['tobs'].mean()
print(avg_temp_june)

74.94411764705882

In [13]:
# Identify the average temperature for December
avg_temp_dec = df_dec['tobs'].mean()
print(avg_temp_dec)

71.04152933421226

In [14]:
# Create collections of temperature data

In [17]:
# Run paired t-test
ttest_rel(df_june['tobs'], df_dec['tobs'])

ValueError: unequal length arrays

### Analysis