# Bonus: Temperature Analysis I

In [1]:
import pandas as pd
from datetime import datetime as dt

In [2]:
# "tobs" is "temperature observations"
df = pd.read_csv('resources\hawaii_measurements.csv')
df.head()

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
4  USC00519397  2010-01-06   NaN    73

In [3]:
# Convert the date column format from string to datetime
df['date'] = pd.to_datetime(df['date'], infer_datetime_format=True)
df.head()

       station       date  prcp  tobs
0  USC00519397 2010-01-01  0.08    65
1  USC00519397 2010-01-02  0.00    63
2  USC00519397 2010-01-03  0.00    74
3  USC00519397 2010-01-04  0.00    76
4  USC00519397 2010-01-06   NaN    73

In [4]:
# Set the date column as the DataFrame index
df = df.set_index('date')
df.head()

                station  prcp  tobs
date
2010-01-01  USC00519397  0.08    65
2010-01-02  USC00519397  0.00    63
2010-01-03  USC00519397  0.00    74
2010-01-04  USC00519397  0.00    76
2010-01-06  USC00519397   NaN    73

### Compare June and December data across all years

In [5]:
from scipy import stats
from scipy.stats import ttest_rel

In [6]:
# Filter data for desired months
df['month'] = pd.DatetimeIndex(df.index).month
df_june = df.loc[df['month']==6,:]
df_dec = df.loc[df['month']==12,:]

In [7]:
# Identify the average temperature for June
avg_temp_june = df_june['tobs'].mean()
print(avg_temp_june)

74.94411764705882

In [8]:
# Identify the average temperature for December
avg_temp_dec = df_dec['tobs'].mean()
print(avg_temp_dec)

71.04152933421226

In [9]:
# Create collections of temperature data
d = {'June_Temp':pd.Series(df_june['tobs']).describe(),'Dec_Temp':pd.Series(df_dec['tobs']).describe()}
df = pd.DataFrame(d)
print (df)

         June_Temp     Dec_Temp
count  1700.000000  1517.000000
mean     74.944118    71.041529
std       3.257417     3.745920
min      64.000000    56.000000
25%      73.000000    69.000000
50%      75.000000    71.000000
75%      77.000000    74.000000
max      85.000000    83.000000

In [10]:
result= stats.ttest_rel(df['June_Temp'], df['Dec_Temp'])
print(result)

Ttest_relResult(statistic=1.1546264585830088, pvalue=0.28613350174458574)

### Analysis

### There is a very small difference in the average temperature between June and December. T test result shows P Value is a lot greater than 0.05, so there is no significant difference between June average temperature from December average temperature.

### I used the paired test because it is compare the different data collected for the same subject from diffferent time periods.