# Bonus: Temperature Analysis I

In [29]:
import pandas as pd
from datetime import datetime as dt

In [30]:
# "tobs" is "temperature observations"
df = pd.read_csv('resources\hawaii_measurements.csv')
df.head()

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
4  USC00519397  2010-01-06   NaN    73

In [31]:
# Convert the date column format from string to datetime
df['date'] = pd.to_datetime(df['date'], infer_datetime_format=True)
df.head()

       station       date  prcp  tobs
0  USC00519397 2010-01-01  0.08    65
1  USC00519397 2010-01-02  0.00    63
2  USC00519397 2010-01-03  0.00    74
3  USC00519397 2010-01-04  0.00    76
4  USC00519397 2010-01-06   NaN    73

In [35]:
# Set the date column as the DataFrame index
df = df.set_index('date')
df.head()

                station  prcp  tobs  month
date
2010-01-01  USC00519397  0.08    65      1
2010-01-02  USC00519397  0.00    63      1
2010-01-03  USC00519397  0.00    74      1
2010-01-04  USC00519397  0.00    76      1
2010-01-06  USC00519397   NaN    73      1

In [14]:
# Drop the date column

### Compare June and December data across all years

In [32]:
from scipy import stats

In [40]:
# Filter data for desired months
df['month'] = pd.DatetimeIndex(df.index).month
df_june = df.loc[df['month']==6,:]
df_dec = df.loc[df['month']==12,:]
df_dec.head()

                station  prcp  tobs  month
date
2010-12-01  USC00519397  0.04    76     12
2010-12-03  USC00519397  0.00    74     12
2010-12-04  USC00519397  0.00    74     12
2010-12-06  USC00519397  0.00    64     12
2010-12-07  USC00519397  0.00    64     12

In [44]:
# Identify the average temperature for June
avg_temp_june = df_june['tobs'].mean()
print(avg_temp_june)

71.04152933421226

In [ ]:
# Identify the average temperature for December
avg_temp_dec = df_dec['tobs'].mean()
print(avg_temp_dec)

In [ ]:
# Create collections of temperature data

In [ ]:
# Run paired t-test

### Analysis